$blue: #0069BD;
$dark-blue: #004B9F;
$light-blue: #0094FF;
$dark-background: #E2F1F8;
$background: #F2F6FA;
$dark: #111111;
$input-text: #888888;
$input-icon: #B8B8B8;
$input-stroke: #CBCBCB;
$input-button: #E8E8E8;
$input-hover: #F6F6F6;
$white: #ffffff;
$red: #FF3A33;
$green: #00E394;
$orange: #FF824C;
$violet: #B268FF;
$yellow: #FAE73D;
$banner-background-1: #CBE4FF;
$banner-background-2: #B4F5DE;
$banner-background-3: #FDD5C9;
$banner-background-4: #E8D4FD;